torch
torchvision
transformers
opencv-python
matplotlib
jsonlines
tensorboardX
anyconfig
pycocotools
munch
scipy 
sortedcontainers 
shapely 
pyclipper 
gevent 
gevent-websocket 
flask 
editdistance 
scikit-image 
imgaug==0.2.8
pandas
git+https://github.com/huggingface/pytorch-image-models.git
loguru
pycocotools
tabulate
pytorch_lightning
lmdb